@use '/styles/base/variables.scss';

.collaborations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: variables.$spacing-5;
  text-align: center;
}

.collaborations__separator {
  transform: scale(2);
}

@media (min-width: variables.$breakpoint-md) {
  .collaborations {
    grid-template-columns: repeat(3, 1fr);
  }
}
