@use '/styles/base/variables.scss';

.temp {
  height: calc(100vh - 83.97px);
}

@media (min-width: variables.$breakpoint-md) {
  .contact__button {
    width: auto;
    padding: variables.$spacing-3 variables.$spacing-5;
  }

  .temp {
    height: calc(100vh - 138.5px);
  }
}
