.bubbles-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  transition: transform 0.1s ease-out;
}

.bubble {
  position: absolute;
  transition: transform 0.05s linear;
}

.bubble--1 {
  width: 220px;
  top: 290px;
  right: 155px;
}

.bubble--2 {
  width: 240px;
  top: 700px;
  left: -178px;
}

.bubble--3 {
  width: 280px;
  top: 1100px;
  right: -170px;
}

.bubble--4 {
  width: 450px;
  top: 1600px;
  left: -290px;
}

.bubble--5 {
  width: 290px;
  top: 2300px;
  right: -200px;
}

.bubble--6 {
  width: 220px;
  top: 3000px;
  left: -80px;
}

.bubble--7 {
  width: 450px;
  top: 3450px;
  right: -310px;
}

.bubble--8 {
  width: 200px;
  top: 4100px;
  left: -110px;
}

.bubble--9 {
  width: 280px;
  top: 4600px;
  right: -110px;
}

.bubble--10 {
  width: 140px;
  top: 5000px;
  left: -85px;
}

.bubble--11 {
  width: 400px;
  top: 5400px;
  right: -230px;
}

.bubble--12 {
  width: 250px;
  top: 5970px;
  left: -130px;
}

.bubble--13 {
  width: 160px;
  top: 6400px;
  right: -90px;
}

.bubble--14 {
  width: 460px;
  top: 6700px;
  left: -245px;
}

.bubble--15 {
  width: 310px;
  top: 7350px;
  right: -125px;
}

.bubble--16 {
  width: 220px;
  top: 7850px;
  left: -85px;
}

.bubble--17 {
  width: 180px;
  top: 8400px;
  right: -60px;
}

.bubble--18 {
  width: 480px;
  top: 8900px;
  left: -360px;
}

.bubble--19 {
  width: 210px;
  top: 9500px;
  right: -135px;
}

.bubble--20 {
  width: 140px;
  top: 10000px;
  left: -55px;
}

.bubble--21 {
  width: 350px;
  top: 10350px;
  right: -150px;
}

.bubble--22 {
  width: 200px;
  top: 11000px;
  left: -90px;
}

.bubble--24 {
  width: 250px;
  top: 11500px;
  right: -150px;
}

.bubble--25 {
  width: 320px;
  top: 12000px;
  left: -160px;
}

.bubble--26 {
  width: 280px;
  top: 12550px;
  right: -190px;
}

.bubble--27 {
  width: 150px;
  top: 13050px;
  left: -50px;
}

.bubble--28 {
  width: 270px;
  top: 13500px;
  right: -120px;
}

.bubble--29 {
  width: 420px;
  top: 14100px;
  left: -210px;
}

.bubble--30 {
  width: 200px;
  top: 14850px;
  right: -110px;
}

.bubble--31 {
  width: 320px;
  top: 15380px;
  left: -210px;
}

.bubble--32 {
  width: 200px;
  top: 16000px;
  right: -80px;
}

.bubble--33 {
  width: 280px;
  top: 16400px;
  left: -150px;
}

.bubble--34 {
  width: 180px;
  top: 16950px;
  right: -50px;
}

.bubble--35 {
  width: 380px;
  top: 17400px;
  left: -150px;
}
