@use "/styles/base/variables.scss";

.burger {
  width: 30px;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.burger--popout {
  transform: scale(0);
}

.burger__item {
  background-color: variables.$white;
  height: 4px;
  border-radius: variables.$radius-x-small;
  margin-bottom: 5px;
}
