@use '/styles/base/variables.scss';

.button {
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.025);
  }

  &:disabled {
    background: variables.$disabled;
    &:hover {
      transform: none;
      cursor: unset;
    }
  }
}

.button--full {
  width: 100%;
}

.button--primary {
  color: variables.$white;
  background: variables.$primary;
}
