@use '/styles/base//variables.scss';

.square-video-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: variables.$spacing-6;
  padding: 0 variables.$spacing-4;
}

.square-video-grid__show-more {
  button {
    width: 100%;
  }
}

@media (min-width: variables.$breakpoint-md) {
  .square-video-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .square-video-grid__show-more {
    grid-column: 1 / span 2;

    button {
      width: auto;
    }
  }
}

@media (min-width: variables.$breakpoint-lg) {
  .square-video-grid {
    gap: variables.$spacing-8;
    padding: 0;
  }
}
