@use '/styles/base//variables.scss';

.notification {
  position: fixed;
  width: calc(100% - variables.$spacing-4 * 2 - variables.$spacing-4 * 2);
  background: variables.$white;
  bottom: variables.$spacing-4;
  left: variables.$spacing-4;
  color: variables.$black;
  padding: variables.$spacing-4;
  border-radius: variables.$radius-x-small;
  transform: translateY(100%);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0;
}

.notification--appearing {
  transform: translateY(0);
  opacity: 1;
}
