$spacing-0: 0px;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1.25rem;
$spacing-5: 2rem;
$spacing-6: 3.25rem;
$spacing-7: 5.25rem;
$spacing-8: 8.5rem;

$radius-x-small: 1px;
$radius-small: 8px;
$radius: 12px;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-x-lg: 1400px;

$black: #000;
$white: #eee;
